.suitability-container {
  width: 100%;
  background-color: #27252e;
  border-radius: 5px;
  text-align: center;
  margin: 1rem;
  flex: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f2;
}
.title-intro,
.list-container {
  flex: 1;
  text-align: center;
}
.title-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  color: #f79e1f;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.suitability-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  text-align: center;
  margin: 1rem auto;
  background-color: #27252e;
  color: #f5f5f2;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  padding: 1rem;
}
.suitability-list li h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}
.suitability-list li p {
  font-size: 1rem;
  margin: 0.25rem;
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 600px) {
  .suitability-container {
    margin: 0;
    padding: 0;
  }
  .suitability-list {
    padding: 0;
  }
  .suitability-list ul {
    margin: 0;
  }
  .suitability-list li {
    width: 100%;
  }
}
