.suitability-container {
  width: 100%;
  text-align: center;
  flex: 1;
  padding: 0.5rem;
}
.title {
  color: #27252e;
  font-size: 1.5rem;
}
.list-container {
  width: 100%;
}
.suitability-list {
  width: 100%;
  list-style: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}
.suitability-list li {
  background-color: #27252e;
  width: 40%;
  margin: 0.5rem;
  color: #f5f5f2;
  padding: 0.5rem;
  border-radius: 5px;
  min-height: 200px;
}
.suitability-list li h4 {
  color: #f79e1f;
  margin: 0.5rem;
}
.suitability-list li p {
  margin-top: 1rem;
  font-size: 0.9rem;
  padding: 0.2rem;
}

@media screen and (max-width: 900px) {
  .suitability-container {
    margin: 0;
    padding: 0;
  }
  .suitability-list {
    padding: 0;
  }
  .suitability-list ul {
    margin: 0;
  }
  .suitability-list li {
    width: 90%;
  }
}
