.user-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #27252e;
}
.profile-pic-container,
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.profile-pic-container {
  flex: 1;
}
.expectations {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.1rem;
}
.profile-pic {
  max-height: 325px;
  width: 325px;
  border-radius: 50%;
  box-shadow: 0 0 10px;
}
.user-details {
  flex: 1;
}
.user-details p {
  margin: 0.2rem;
}
.user-details .name {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.user-details .title {
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  color: #27252e;
}
.api-active-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.icon-tick {
  color: green;
}
.icon-cross {
  color: red;
}
@media screen and (max-width: 500px) {
  .profile-pic {
    max-height: 225px;
    width: 225px;
    border-radius: 50%;
    box-shadow: 0 0px 10px;
  }
}
